$header-font: "Oxygen", sans-serif;
$body-font: "Source Sans Pro", serif;
$hyperlink-color: rgb(61, 146, 201);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: $body-font;
}

a {
    text-decoration: none;
    color: $hyperlink-color;
}
a:hover,
a:focus {
    text-decoration: underline;
}

abbr {
    /* PureCSS will set the border-bottom */
    text-decoration: none;
}

h3 {
    font-weight: 100;
}

hr {
  text-align: center; 
  line-height: 0px; /* keep text centered vertically */
  font-size: 1em;
  border: none;
  margin: 1.25em 0em;
}

hr:after {
  display: inline;
  content: "\00b7  \00b7  \00b7";
  color: #999;
}

blockquote {
  background: #f9f9f9;
  border-left: 8px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p:first-child {
  margin-top: 0em;
}
blockquote p:last-child {
  margin-bottom: 0em;
}

.no-word-wrap {
    white-space: nowrap;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.avatar > img {
    border-radius: 100%;
    width: 116px;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}
.sidebar-footer {
    display: none; /* only on desktop */
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    font-family: $header-font;
}
.brand-title a{
    color:#fff;
}
.brand-title a:hover{
    text-decoration: none;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    /*letter-spacing: 0.05em;
    text-transform: uppercase;
     font-size: 85%; */
    font-weight: bold;
    font-family: $header-font;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid $hyperlink-color;
    color: $hyperlink-color;
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 1.5em;
}
.post:last-child {
    padding-bottom: 0em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin: 0.4em 0;
    font-family: $header-font;
    font-weight: bold;
}
.post-title:hover{
    text-decoration: none;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: $body-font;
    color: #333;
    line-height: 1.35em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 5px 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
.post-category-design {
    background: #5aba59;
}
.post-category-pure {
    background: #4d85d1;
}
.post-category-yui {
    background: #8156a7;
}
.post-category-javascript {
    background: #df2d4f;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.content-footer {
    text-align: center;
    padding: 1em 0; 
    color: #555;
    font-size: 80%;
}
.footer ul {
    padding: 0;
}
.footer li {
    margin-bottom: 0.15em;
}
.footer ul li a {
    display: inline;
    white-space: normal;
    padding: 0;
}
.footer a {
    color:#333;
    font-weight: bold;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}
.footer li{
    list-style-type: none;
}

.post-share-links{
    margin:15px 15px 0 0;
    float:left;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.post-share-links a{
    color:#aaa;
    font-size: 28px;
    line-height: 36px;
    margin: 0 auto;
    display: block;
    transition: all .3s ease-in;
}

.post-share-links a:hover{
    color: $hyperlink-color;
    text-decoration: none;
}

.post-share-links h4{
    font-family: $body-font;
    margin:0 0 5px;
    color:#aaa
}

.posts-footer {
    border-top: 1px solid #ccc;
}

.pagination {
    margin-top: 0.5em;
    color: #333; 
}

/* non-mobile styles */
$tablet-width: 48em;
$laptop-width: 64em;
$desktop-width: 80em;

@media (min-width: $tablet-width) {
    .sidebar .header {
        padding: 60% 2em 0; 
        text-align: right;
        width: 100%;
    }

    .footer li {
        margin-bottom: 0em;
    }

    .sidebar-footer {
        display: inherit; /* unhide on desktop */
        width: 100%;
        position: absolute;
        text-align: right;
        padding: 0 2em;
        color: #eee;
        font-size: 80%;
        bottom: 2em;
    }
    .sidebar-footer a {
        color:#eee;
        font-weight: bold;
    }

    .sidebar {
        position: fixed;
        top: 0; 
        bottom: 0;
    }

    .content {
        padding: 2em 3em 0;
        max-width: 48rem;
        margin-left: 25%;
    }

    .header {
        position: absolute;
    }

    .brand-tagline {
        color: #eee; 
    }

    .sidebar-img-container {
        height: 100%;
        overflow: hidden;
    }

    $unsplash-id: "photo-1484249170766-998fa6efe3c0";
    .sidebar-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(5px);
        transform: scale(1.05);
        background-image:
            /* top, transparent black, faked with gradient */ 
            linear-gradient(
            rgba(0, 0, 0, 0.15), 
            rgba(0, 0, 0, 0.15)
            ),
            /* bottom, image */
            url(https://images.unsplash.com/#{$unsplash-id}?dpr=1&auto=compress,format&fit=crop&w=300&h=700&q=80&cs=tinysrgb&crop=&bg=);
        background-repeat: no-repeat;
        background-size: cover;

        overflow: hidden;
    }
}

/*
@media (min-width: $tablet-width) {
    .sidebar {
        min-width: 300px;
    } 

    .content { 
        margin-left: 300px;
    }
}


@media (min-width: $laptop-width) {
    .sidebar {
        width: 20%;
    }

    .content {
        margin-left: 20%;
    }
}

@media (min-width: $desktop-width) {
    .sidebar {
        width: 24rem;
    }

    .content {
        margin-left: 24rem;
    }
}
*/
